<a href="https://colab.research.google.com/github/dariRusAG/Modern-programming-languages/blob/main/%D0%9B%D0%B0%D0%B1%D0%BE%D1%80%D0%B0%D1%82%D0%BE%D1%80%D0%BD%D0%B0%D1%8F_%D0%A1%D0%AF%D0%9F_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Лабораторная работа 1

1. Удалить столбцы с некорректными данными
2. Переименовать столбцы:
- `Остаток` переименовать в `ВсегоТовара`
- `Количество` переименовать в `НаВитрине`
3. Сгруппировать товары по `КодКатегории` и найти среднюю цену
4. Добавить столбец с разницей между значением столбца `Цена` и полученной средней ценой

## Выполнил студент

Агапова Дарья Руслановна

Б9119-09.03.04прогин(1)

## Библиотеки

In [ ]:
import pandas as pd
from google.colab import drive

## Подключение выборки данных

In [ ]:
# pd.options.display.float_format = '{:,.3f}'.format
# pd.reset_option("^display")

drive.mount('/content/drive')
data = pd.read_csv('/content/drive/MyDrive/СЯП/Выборка_1.csv', sep=",")
data

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

,КодКатегории,ЧастотаПродаж,Цена,ДлинаЕд,ДлинаЕд.1,ШиринаЕд,ШиринаЕд.1,ВысотаЕд,ВысотаЕд.1,Остаток,ВсегоТовара,Количество,НаВитрине,Транзит,Транзит.1,НаСкладе
0,GF18208,3.943094e-03,46999.0,0.530,0,0.060,0,0.330,0,NaN,0,NaN,0,NaN,0,0.0
1,MA76008,1.071400e-06,2099.0,0.135,0,0.025,0,0.210,0,NaN,0,NaN,0,NaN,0,0.0
2,GF18250,1.266442e-02,NaN,0.000,0,0.000,0,0.000,0,NaN,0,NaN,0,NaN,0,0.0
3,GF18375,2.557700e-02,699.0,0.120,0,0.080,0,0.040,0,1.0,0,1.0,0,0.0,0,0.0
4,GF18435,1.038716e-06,27199.0,0.425,0,0.310,0,0.145,0,NaN,0,NaN,0,NaN,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,GF26721,4.510958e-03,299.0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,0.0
1996,GF26721,9.724581e-07,1299.0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,0.0
1997,GF27381,1.344834e-02,4199.0,0.000,0,0.000,0,0.000,0,NaN,0,NaN,0,NaN,0,0.0
1998,MA00327,2.194074e-02,1799.0,0.260,0,0.140,0,0.250,0,2.0,0,1.0,0,0.0,0,1.0
1999,MA09650,6.346021e-03,8999.0,0.520,0,0.540,0,0.560,0,NaN,0,NaN,0,NaN,0,0.0

## Выполнение заданий

### Удалить столбцы с некорректными данными

In [ ]:
data = data.drop(['ДлинаЕд.1','ШиринаЕд.1','ВысотаЕд.1','ВсегоТовара','НаВитрине','Транзит.1'], axis=1)
data

,КодКатегории,ЧастотаПродаж,Цена,ДлинаЕд,ШиринаЕд,ВысотаЕд,Остаток,Количество,Транзит,НаСкладе
0,GF18208,3.943094e-03,46999.0,0.530,0.060,0.330,NaN,NaN,NaN,0.0
1,MA76008,1.071400e-06,2099.0,0.135,0.025,0.210,NaN,NaN,NaN,0.0
2,GF18250,1.266442e-02,NaN,0.000,0.000,0.000,NaN,NaN,NaN,0.0
3,GF18375,2.557700e-02,699.0,0.120,0.080,0.040,1.0,1.0,0.0,0.0
4,GF18435,1.038716e-06,27199.0,0.425,0.310,0.145,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...
1995,GF26721,4.510958e-03,299.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1996,GF26721,9.724581e-07,1299.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1997,GF27381,1.344834e-02,4199.0,0.000,0.000,0.000,NaN,NaN,NaN,0.0
1998,MA00327,2.194074e-02,1799.0,0.260,0.140,0.250,2.0,1.0,0.0,1.0
1999,MA09650,6.346021e-03,8999.0,0.520,0.540,0.560,NaN,NaN,NaN,0.0

### Переименовать столбцы
- `Остаток` переименовать в `ВсегоТовара`
- `Количество` переименовать в `НаВитрине`

In [ ]:
data = data.rename(columns={"Остаток": "ВсегоТовара", "Количество": "НаВитрине"})
data

,КодКатегории,ЧастотаПродаж,Цена,ДлинаЕд,ШиринаЕд,ВысотаЕд,ВсегоТовара,НаВитрине,Транзит,НаСкладе
0,GF18208,3.943094e-03,46999.0,0.530,0.060,0.330,NaN,NaN,NaN,0.0
1,MA76008,1.071400e-06,2099.0,0.135,0.025,0.210,NaN,NaN,NaN,0.0
2,GF18250,1.266442e-02,NaN,0.000,0.000,0.000,NaN,NaN,NaN,0.0
3,GF18375,2.557700e-02,699.0,0.120,0.080,0.040,1.0,1.0,0.0,0.0
4,GF18435,1.038716e-06,27199.0,0.425,0.310,0.145,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...
1995,GF26721,4.510958e-03,299.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1996,GF26721,9.724581e-07,1299.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1997,GF27381,1.344834e-02,4199.0,0.000,0.000,0.000,NaN,NaN,NaN,0.0
1998,MA00327,2.194074e-02,1799.0,0.260,0.140,0.250,2.0,1.0,0.0,1.0
1999,MA09650,6.346021e-03,8999.0,0.520,0.540,0.560,NaN,NaN,NaN,0.0

### Сгруппировать товары по `КодКатегории` и найти среднюю цену

In [ ]:
data.groupby("КодКатегории").mean()['Цена'].reset_index()

    КодКатегории         Цена
0        EY10317   606.333333
1        EY11578  1242.888889
2        EY23865   806.818182
3        EY23975  2899.000000
4        EY37862  9082.666667
..           ...          ...
270      MA76021  2461.583333
271      MA81985   330.000000
272      MA85180  3017.875000
273      MA86011  3974.000000
274      MA86042  5199.000000

[275 rows x 2 columns]

### Добавить столбец с разницей между значением столбца `Цена` и полученной средней ценой

In [ ]:
data = data.fillna(0)
data

,КодКатегории,ЧастотаПродаж,Цена,ДлинаЕд,ШиринаЕд,ВысотаЕд,ВсегоТовара,НаВитрине,Транзит,НаСкладе
0,GF18208,3.943094e-03,46999.0,0.530,0.060,0.330,0.0,0.0,0.0,0.0
1,MA76008,1.071400e-06,2099.0,0.135,0.025,0.210,0.0,0.0,0.0,0.0
2,GF18250,1.266442e-02,0.0,0.000,0.000,0.000,0.0,0.0,0.0,0.0
3,GF18375,2.557700e-02,699.0,0.120,0.080,0.040,1.0,1.0,0.0,0.0
4,GF18435,1.038716e-06,27199.0,0.425,0.310,0.145,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
1995,GF26721,4.510958e-03,299.0,0.000,0.000,0.000,0.0,0.0,0.0,0.0
1996,GF26721,9.724581e-07,1299.0,0.000,0.000,0.000,0.0,0.0,0.0,0.0
1997,GF27381,1.344834e-02,4199.0,0.000,0.000,0.000,0.0,0.0,0.0,0.0
1998,MA00327,2.194074e-02,1799.0,0.260,0.140,0.250,2.0,1.0,0.0,1.0
1999,MA09650,6.346021e-03,8999.0,0.520,0.540,0.560,0.0,0.0,0.0,0.0

In [ ]:
data["РазницаЦены"] = data['Цена'] - data.groupby(["КодКатегории"])['Цена'].transform('mean')
data

,КодКатегории,ЧастотаПродаж,Цена,ДлинаЕд,ШиринаЕд,ВысотаЕд,ВсегоТовара,НаВитрине,Транзит,НаСкладе,РазницаЦены
0,GF18208,3.943094e-03,46999.0,0.530,0.060,0.330,0.0,0.0,0.0,0.0,-11555.066667
1,MA76008,1.071400e-06,2099.0,0.135,0.025,0.210,0.0,0.0,0.0,0.0,674.750000
2,GF18250,1.266442e-02,0.0,0.000,0.000,0.000,0.0,0.0,0.0,0.0,-27559.025000
3,GF18375,2.557700e-02,699.0,0.120,0.080,0.040,1.0,1.0,0.0,0.0,237.620690
4,GF18435,1.038716e-06,27199.0,0.425,0.310,0.145,0.0,0.0,0.0,0.0,17289.800000
...,...,...,...,...,...,...,...,...,...,...,...
1995,GF26721,4.510958e-03,299.0,0.000,0.000,0.000,0.0,0.0,0.0,0.0,-622.222222
1996,GF26721,9.724581e-07,1299.0,0.000,0.000,0.000,0.0,0.0,0.0,0.0,377.777778
1997,GF27381,1.344834e-02,4199.0,0.000,0.000,0.000,0.0,0.0,0.0,0.0,-1778.571429
1998,MA00327,2.194074e-02,1799.0,0.260,0.140,0.250,2.0,1.0,0.0,1.0,74.461538
1999,MA09650,6.346021e-03,8999.0,0.520,0.540,0.560,0.0,0.0,0.0,0.0,-2440.000000

# Лабораторная работа 2
1. Посчитать площадь и объём товаров. 
2. Посчитать среднее в категории, если у товаров нет данных по высоте, ширине и длине.
3. Исключить товары у которых частота продаж меньше 0.012 и у которых нет остатков и транзита
4. Отсортировать список по частоте продаж товаров.

## Посчитать площадь и объём товаров

In [ ]:
data["Объём"] = data["ДлинаЕд"] * data["ШиринаЕд"] * data["ВысотаЕд"]
data["Площадь"] = 2 * (data["ДлинаЕд"] *  data["ШиринаЕд"] + data["ДлинаЕд"] * data["ВысотаЕд"] + data["ШиринаЕд"] * data["ВысотаЕд"])
data

,КодКатегории,ЧастотаПродаж,Цена,ДлинаЕд,ШиринаЕд,ВысотаЕд,ВсегоТовара,НаВитрине,Транзит,НаСкладе,РазницаЦены,Объём,Площадь
0,GF18208,3.943094e-03,46999.0,0.530,0.060,0.330,0.0,0.0,0.0,0.0,-11555.066667,0.010494,0.45300
1,MA76008,1.071400e-06,2099.0,0.135,0.025,0.210,0.0,0.0,0.0,0.0,674.750000,0.000709,0.07395
2,GF18250,1.266442e-02,0.0,0.000,0.000,0.000,0.0,0.0,0.0,0.0,-27559.025000,0.000000,0.00000
3,GF18375,2.557700e-02,699.0,0.120,0.080,0.040,1.0,1.0,0.0,0.0,237.620690,0.000384,0.03520
4,GF18435,1.038716e-06,27199.0,0.425,0.310,0.145,0.0,0.0,0.0,0.0,17289.800000,0.019104,0.47665
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,GF26721,4.510958e-03,299.0,0.000,0.000,0.000,0.0,0.0,0.0,0.0,-622.222222,0.000000,0.00000
1996,GF26721,9.724581e-07,1299.0,0.000,0.000,0.000,0.0,0.0,0.0,0.0,377.777778,0.000000,0.00000
1997,GF27381,1.344834e-02,4199.0,0.000,0.000,0.000,0.0,0.0,0.0,0.0,-1778.571429,0.000000,0.00000
1998,MA00327,2.194074e-02,1799.0,0.260,0.140,0.250,2.0,1.0,0.0,1.0,74.461538,0.009100,0.27280
1999,MA09650,6.346021e-03,8999.0,0.520,0.540,0.560,0.0,0.0,0.0,0.0,-2440.000000,0.157248,1.74880

## Посчитать среднее в категории, если у товаров нет данных по высоте, ширине и длине

In [ ]:
def check(df):
  return df.loc[(df["ДлинаЕд"] != 0.0) & (df["ШиринаЕд"] != 0.0) & (df["ВысотаЕд"] != 0.0)]

df_mean = check(data).groupby("КодКатегории").mean()
df_mean

,ЧастотаПродаж,Цена,ДлинаЕд,ШиринаЕд,ВысотаЕд,ВсегоТовара,НаВитрине,Транзит,НаСкладе,РазницаЦены,Объём,Площадь
КодКатегории,,,,,,,,,,,,
EY10317,7.023978e-03,470.000000,0.050000,0.040000,0.020000,0.000000,0.000000,0.0,0.0,-1.363333e+02,0.000040,0.007600
EY11578,4.331729e-04,1242.888889,0.236111,0.054111,0.100000,0.000000,0.000000,0.0,0.0,0.000000e+00,0.001321,0.077191
EY23865,2.168502e-03,885.875000,0.136250,0.091250,0.148500,0.000000,0.000000,0.0,0.0,1.462917e+02,0.001879,0.092565
EY23975,9.186183e-03,2899.000000,0.162600,0.118000,0.184800,0.200000,0.200000,0.0,0.0,0.000000e+00,0.003450,0.138567
EY37862,1.389908e-02,9082.666667,0.225000,0.083333,0.120000,0.000000,0.000000,0.0,0.0,6.063298e-13,0.002208,0.115400
...,...,...,...,...,...,...,...,...,...,...,...,...
MA76021,9.064006e-03,2381.739130,0.148261,0.085870,0.081087,0.086957,0.086957,0.0,0.0,1.861913e+01,0.000339,0.054128
MA81985,9.855769e-07,330.000000,0.200000,0.075000,0.065000,0.000000,0.000000,0.0,0.0,0.000000e+00,0.000780,0.063600
MA85180,3.172617e-03,3017.875000,0.190000,0.141875,0.133750,0.000000,0.000000,0.0,0.0,0.000000e+00,0.003110,0.138300
MA86011,5.367560e-03,3299.000000,0.326667,0.213333,0.253333,0.000000,0.000000,0.0,0.0,-6.750000e+02,0.019853,0.429533
MA86042,1.310183e-06,5799.000000,1.000000,0.200000,0.250000,0.000000,0.000000,0.0,0.0,2.333000e+03,0.050000,1.000000

In [ ]:
for index, row in df_mean.iterrows():
  data.loc[(data["Объём"] == 0.0) & (data["КодКатегории"] == index), "Объём"] = row["Объём"]
  data.loc[(data["Площадь"] == 0.0) & (data["КодКатегории"] == index), "Площадь"] = row["Площадь"]

data

,КодКатегории,ЧастотаПродаж,Цена,ДлинаЕд,ШиринаЕд,ВысотаЕд,ВсегоТовара,НаВитрине,Транзит,НаСкладе,РазницаЦены,Объём,Площадь
0,GF18208,3.943094e-03,46999.0,0.530,0.060,0.330,0.0,0.0,0.0,0.0,-11555.066667,0.010494,0.453000
1,MA76008,1.071400e-06,2099.0,0.135,0.025,0.210,0.0,0.0,0.0,0.0,674.750000,0.000709,0.073950
2,GF18250,1.266442e-02,0.0,0.000,0.000,0.000,0.0,0.0,0.0,0.0,-27559.025000,0.001016,0.069127
3,GF18375,2.557700e-02,699.0,0.120,0.080,0.040,1.0,1.0,0.0,0.0,237.620690,0.000384,0.035200
4,GF18435,1.038716e-06,27199.0,0.425,0.310,0.145,0.0,0.0,0.0,0.0,17289.800000,0.019104,0.476650
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,GF26721,4.510958e-03,299.0,0.000,0.000,0.000,0.0,0.0,0.0,0.0,-622.222222,0.001676,0.128368
1996,GF26721,9.724581e-07,1299.0,0.000,0.000,0.000,0.0,0.0,0.0,0.0,377.777778,0.001676,0.128368
1997,GF27381,1.344834e-02,4199.0,0.000,0.000,0.000,0.0,0.0,0.0,0.0,-1778.571429,0.000550,0.045491
1998,MA00327,2.194074e-02,1799.0,0.260,0.140,0.250,2.0,1.0,0.0,1.0,74.461538,0.009100,0.272800
1999,MA09650,6.346021e-03,8999.0,0.520,0.540,0.560,0.0,0.0,0.0,0.0,-2440.000000,0.157248,1.748800

## Исключить товары у которых частота продаж меньше 0.012 и у которых нет остатков и транзита

In [ ]:
data = data.loc[(data["ЧастотаПродаж"] >= 0.012) & ((data["ВсегоТовара"] > 0.0) | (data["Транзит"] > 0.0))]
data

,КодКатегории,ЧастотаПродаж,Цена,ДлинаЕд,ШиринаЕд,ВысотаЕд,ВсегоТовара,НаВитрине,Транзит,НаСкладе,РазницаЦены,Объём,Площадь
3,GF18375,0.025577,699.0,0.12,0.08,0.040,1.0,1.0,0.0,0.0,237.620690,0.000384,0.035200
7,GF18259,0.019358,950.0,0.00,0.00,0.000,1.0,1.0,0.0,0.0,106.615385,0.001446,0.074929
22,MA10194,0.025783,3899.0,0.00,0.00,0.000,1.0,1.0,0.0,0.0,-1773.684211,0.005682,0.275055
23,GF19450,0.095773,1999.0,0.44,0.32,0.365,1.0,1.0,0.0,0.0,-283.333333,0.051392,0.836400
35,FE43822,0.013692,499.0,0.00,0.00,0.000,1.0,0.0,0.0,1.0,-257.875000,0.001815,0.093867
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1937,GF21592,0.022568,799.0,0.30,0.15,0.280,2.0,1.0,0.0,1.0,-100.000000,0.012600,0.342000
1939,GF20761,0.019025,1499.0,0.10,0.35,0.050,1.0,1.0,0.0,0.0,-730.400000,0.001750,0.115000
1942,MA00325,0.020021,3099.0,0.00,0.00,0.000,1.0,0.0,0.0,1.0,1531.000000,0.007794,0.311928
1978,GF20758,0.013824,1999.0,0.06,0.24,0.220,1.0,1.0,0.0,0.0,-1966.666667,0.003168,0.160800
1998,MA00327,0.021941,1799.0,0.26,0.14,0.250,2.0,1.0,0.0,1.0,74.461538,0.009100,0.272800

## Отсортировать список по частоте продаж товаров

In [ ]:
# data.sort_values(by="ЧастотаПродаж")

# Лабораторная работа 3
1. Каждый товар имеет свою занимаемую площадь. Нужно рассчитать сколько товаров данных категорий влезет по площади. Для этого нужно сгенерировать для каждой уникальной категории площадь и рассчитать.

In [ ]:
names = ['ТВ', 'Компы','Комплектующие', 'Телефоны']
categories = pd.DataFrame()

for elem in names:
  df = pd.read_excel('/content/drive/MyDrive/СЯП/Товары.xlsx', sheet_name=elem, names=['КодКатегории', 'ПлощадьКатегории'])
  df['Категория'] = elem
  df['ПлощадьКатегории'] = df.iloc[0]['ПлощадьКатегории']
  df['ОстатокОтПлощади'] = df.iloc[0]['ПлощадьКатегории']
  categories = pd.concat([categories, df])

categories

   КодКатегории  ПлощадьКатегории Категория  ОстатокОтПлощади
0       GF19451             25.00        ТВ             25.00
1       GF18307             25.00        ТВ             25.00
2       GF18437             25.00        ТВ             25.00
3       MA00331             25.00        ТВ             25.00
4       MA10546             25.00        ТВ             25.00
..          ...               ...       ...               ...
70      GF18255             12.13  Телефоны             12.13
71      MA63751             12.13  Телефоны             12.13
72      GF26918             12.13  Телефоны             12.13
73      GF19424             12.13  Телефоны             12.13
74      FE41492             12.13  Телефоны             12.13

[275 rows x 4 columns]

In [ ]:
def count_the_area(df, name, area):
  for index, row in df.iterrows():
    if row['Категория'] == name:
      area -= row['Площадь']
    else:
      name = row['Категория']
      area = row['ПлощадьКатегории']
    df.loc[index, 'ОстатокОтПлощади'] = area
  return df.loc[df['ОстатокОтПлощади'] >= 0.0]

df = count_the_area(data.merge(categories, on='КодКатегории', how="left").sort_values(by='Категория'), 
                    df.iloc[0]['Категория'], 
                    df.iloc[0]['ПлощадьКатегории'])
df

,КодКатегории,ЧастотаПродаж,Цена,ДлинаЕд,ШиринаЕд,ВысотаЕд,ВсегоТовара,НаВитрине,Транзит,НаСкладе,РазницаЦены,Объём,Площадь,ПлощадьКатегории,Категория,ОстатокОтПлощади
0,GF18375,0.025577,699.0,0.120,0.080,0.04,1.0,1.0,0.0,0.0,237.620690,0.000384,0.035200,15.10,Комплектующие,15.100000
35,GF18250,0.028182,15999.0,0.185,0.095,0.06,1.0,1.0,0.0,0.0,-11560.025000,0.001054,0.068750,15.10,Комплектующие,15.031250
36,MA00289,0.022725,1799.0,0.210,0.110,0.24,1.0,1.0,0.0,0.0,-3890.040000,0.005544,0.199800,15.10,Комплектующие,14.831450
28,MA76008,0.022016,799.0,0.000,0.000,0.00,1.0,0.0,0.0,1.0,-625.250000,0.000376,0.045790,15.10,Комплектующие,14.785660
24,EY68966,0.029342,16999.0,0.330,0.265,0.37,1.0,1.0,0.0,0.0,7427.272727,0.032356,0.615200,15.10,Комплектующие,14.170460
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22,GF19429,0.068181,1999.0,0.345,0.155,0.17,0.0,0.0,1.0,0.0,-210.266667,0.009091,0.276950,12.13,Телефоны,0.703920
54,FE43821,0.020277,350.0,0.000,0.000,0.00,1.0,0.0,0.0,1.0,-97.636364,0.000650,0.129893,12.13,Телефоны,0.574028
55,GF20757,0.020332,750.0,0.000,0.000,0.00,2.0,1.0,0.0,1.0,-4521.444444,0.003332,0.134643,12.13,Телефоны,0.439385
19,GF18405,0.026946,1499.0,0.215,0.155,0.10,1.0,1.0,0.0,0.0,656.681818,0.003333,0.140650,12.13,Телефоны,0.298735
61,GF19443,0.023836,799.0,0.210,0.100,0.05,1.0,1.0,0.0,0.0,-175.380952,0.001050,0.073000,12.13,Телефоны,0.225735